/* ================================================================================ */
/* tic-tac-toe START*/

.container {
    display: flex;
    margin: 100px 50px 50px 50px;

}

.content {
    width: 156px;
    border: 1px solid black;
    margin: 0 auto;
}


.item {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    border: 1px solid black;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
}

.item:hover {
    background-color: #f1f1f10c;
}

/* tic-tac-toe END*/
/* ================================================================================ */
/* rick-and-morty_list START */

.rick-and-morty_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    width: 90%;
    background-color: #dee9da;
    border: 2px solid black;
    border-radius: 15px;
}

.rick-and-morty_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    width: 20%;
    background-color: #838567;
    border: 2px solid black;
    border-radius: 20px;
}

.rick-and-morty_item p {
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
}

.rick-and-morty_item img {
    max-width: 200px;
    border-radius: 50%;
}

.rick-and-morty_btn {
    display: block;
    margin: 25px auto;
}

/* rick-and-morty_list END */
/* ================================================================================ */
